@import "../../App.scss";

.login_page {
  position: relative;
  overflow: hidden;
  .login_banner_vector1 {
    position: absolute;
    top: 68px;
    left: 779px;
  }
  .login_banner_vector2 {
    position: absolute;
    bottom: 70px;
    left: 1045px;
  }
  .loginTopbar {
    margin-bottom: 106px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .inner_box {
    &.left {
      h1 {
        font-size: 53px;
        font-weight: 700;
        color: $textColor;
        span {
          color: $primaryColor;
        }
      }
      p {
        font-size: 17px;
        font-weight: 400;
        color: $textColor;
        a {
          font-size: 18px;
          font-weight: 700;
          color: $primaryColor;
        }
      }
      img {
        margin-top: 80px;
      }
    }
    &.right {
      width: 80%;
      margin-left: auto;
      .heading {
        margin-bottom: 42px;
        text-align: center;
        h1 {
          color: $textColor;
          font-size: 35px;
          font-weight: 600;
        }
        p {
          color: $textColor;
          font-size: 16px;
          font-weight: 400;
        }
      }
      form {
        .links {
          display: flex;
          align-items: center;
          justify-content: space-between;
          a {
            color: $primaryColor;
            font-size: 14px;
            font-weight: 400;
          }
        }
        .theme_btn {
          margin-top: 24px;
          padding: 1rem 2rem;
        }
      }
    }
  }
  .footer {
    margin-top: 60px;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      padding: 0;
      li {
        color: $textLightColor1;
        font-size: 14px;
        position: relative;
        display: flex;
        align-items: center;
        &:first-child {
          &::before {
            display: none;
          }
        }
        &::before {
          content: "";
          width: 10px;
          height: 10px;
          background-color: #d9d9d9;
          border-radius: 50%;
          position: absolute;
          left: -15px;
        }
        a {
          color: $textLightColor1;
        }
      }
    }
    p {
      color: $textLightColor1;
      font-size: 14px;
      margin: 0;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .login_page {
    .inner_box {
      &.right {
        width: 90%;
        margin-left: auto;
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .login_page {
    .top {
      margin: 0;
      width: 100%;
      max-width: 100%;
      padding: 0;
    }
    .loginTopbar {
      margin-bottom: 52px;
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #d9d9d9;
      border-width: 2px;
      text-align: center;
    }
    .inner_box {
      &.left {
        text-align: center;
        width: 80%;
        margin: auto auto 52px;
        img {
          display: none;
        }
      }
      &.right {
        width: 80%;
        margin: auto;
      }
    }
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .login_page {
    .top {
      margin: 0;
      width: 100%;
      max-width: 100%;
      padding: 0;
    }
    .loginTopbar {
      margin-bottom: 52px;
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #d9d9d9;
      border-width: 2px;
      text-align: center;
    }
    .inner_box {
      &.left {
        text-align: center;
        width: 80%;
        margin: auto auto 52px;
        img {
          display: none;
        }
      }
      &.right {
        width: 80%;
        margin: auto;
      }
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .login_page {
    .top {
      margin: 0;
      width: 100%;
      max-width: 100%;
      padding: 0;
    }
    .loginTopbar {
      margin-bottom: 52px;
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #d9d9d9;
      border-width: 2px;
      text-align: center;
    }
    .inner_box {
      margin-bottom: 42px;
      &.left {
        text-align: left;
        width: 100%;
        h1 {
          font-size: 33px;
        }
        p {
          font-size: 14px;
          a {
            font-size: 14px;
          }
        }
        img {
          display: none;
        }
      }
      &.right {
        width: 100%;
        margin: auto;
        .heading {
          text-align: left;
          margin-bottom: 26px;
          h1 {
            font-size: 28px;
          }
        }
      }
    }
  }
}
