.menu_text {
    color: rgb(25, 25, 25);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.5px;
}